/* Default State */
.ergeon-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  line-height: 1;
  font-family: 'Hind Vadodara', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Size */
.ergeon-button--small {
  font-size: 12px;
  line-height: 16px;
  padding: 3px 8px;
}
.ergeon-button--medium {
  font-size: 14px;
  line-height: 20px;
  padding: 8px 16px;
}
.ergeon-button--big {
  font-size: 16px;
  line-height: 24px;
  padding: 12px 20px;
}

/* Type */
.ergeon-button--primary {
  background-color: #0E61B4;
  color: white;
}
.ergeon-button--cta {
  background-color: #54A788;
  color: white;
}
.ergeon-button--action {
  background-color: #F09E3A;
  color: white;
}
.ergeon-button--attention {
  background-color: #FF7D5A;
  color: white;
}
.ergeon-button--base {
  background-color: #F0F0F7;
  color: #16121C;
}